LA-LockADAccount-MDI/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
        "type": "string",
        "defaultValue": "MDI-Disable-AD-Account",
        "metadata": {
            "description": "Name of the Logic App."
            }
        }
    },
    "variables": {    
        "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('logicAppName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicAppName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['microsoftsentinel-connection']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@listCallbackUrl()"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_Accounts": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['microsoftsentinel-connection']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/account"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                            "actions": {
                                "Grab_MDI_Identity_of_User": {
                                    "runAfter": {
                                        "Grab_Most_Important_ID_Properties": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://graph.microsoft.com/beta/security/identities/identityAccounts?$filter=onPremisesSecurityIdentifier%20eq%20'@{body('Grab_Most_Important_ID_Properties')?['onPremisesSecurityIdentifier']}'",
                                        "method": "GET",
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://graph.microsoft.com"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Find_Account_SID_using_Graph": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://graph.microsoft.com/v1.0/users/@{item()?['Sid']}?$select=id,userPrincipalName,onPremisesSecurityIdentifier",
                                        "method": "GET",
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://graph.microsoft.com"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Grab_Most_Important_ID_Properties": {
                                    "runAfter": {
                                        "Find_Account_SID_using_Graph": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Find_Account_SID_using_Graph')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "userPrincipalName": {
                                                    "type": "string"
                                                },
                                                "onPremisesSecurityIdentifier": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id"
                                            ]
                                        }
                                    }
                                },
                                "Grab_MDI_ID_Value": {
                                    "runAfter": {
                                        "Grab_MDI_Identity_of_User": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Grab_MDI_Identity_of_User')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "value"
                                            ]
                                        }
                                    }
                                },
                                "Mandatory_For_Loop": {
                                    "foreach": "@outputs('Grab_MDI_ID_Value')['body']['value']",
                                    "actions": {
                                        "Mandatory_For_Loop_2": {
                                            "foreach": "@outputs('Grab_MDI_ID_Value')['body']['value']",
                                            "actions": {
                                                "Disable_User_in_AD_using_MDI": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "https://graph.microsoft.com/beta/security/identities/identityAccounts/@{item()['id']}/invokeAction",
                                                        "method": "POST",
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "body": {
                                                            "accountId": "@{item()['id']}",
                                                            "action": "disable",
                                                            "identityProvider": "activeDirectory"
                                                        },
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "https://graph.microsoft.com/"
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                }
                                            },
                                            "type": "Foreach"
                                        }
                                    },
                                    "runAfter": {
                                        "Grab_MDI_ID_Value": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_Accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "microsoftsentinel-connection": {
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/Azuresentinel')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                                "connectionProperties": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                }
                                }
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "name": "[variables('MicrosoftSentinelConnectionName')]",
            "kind": "V1",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/Azuresentinel')]"
                },
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "displayName": "[variables('MicrosoftSentinelConnectionName')]"
            }
        }
    ]
}